extends layout

block content
  h1 Books
  form.search(method='get', action='/books?search=${search}')
    p
      input(type='text', name='search', placeholder='Search for Books')
      input(type='submit', value='Search')
  p
    a.button(href='/books/new') Create New Book
  p
    | Filters
    a(href='/books') &nbsp; All
    span &#124;
    a(href='/books/overdue_book') Overdue
    span &#124;
    a(href='/books/checked_book') Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
              td #{book.author}
              td #{book.genre}
              td #{book.first_published}
  if !search
    div.paginate
      each page in pages
        a(href=`${bookStatus}?page=${page}`) #{page}
        span &#124;
